include LICENSE
include README.md
include requirements.txt

recursive-include cn2date *

recursive-exclude * .DS_Store
recursive-exclude * __pycache__
recursive-exclude * .pytest_cache
recursive-exclude * .ruff_cache
